@include '__header.html'

<div class="layout">
    <div class="sidebar">
        <h3>Quick Access</h3>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Documents</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Pictures</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Downloads</a></li>
        </ul>
        <h3>Favorites</h3>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Project X</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Vacation Photos</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Work Files</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="top-bar">
            <form class="pure-form">
                <fieldset>
                    <input type="text" class="pure-input-rounded" placeholder="Search files...">
                </fieldset>
            </form>
            <div class="breadcrumbs">
                Home > Documents > Project
            </div>
        </div>
        <div class="file-list">
            <h2>Current Directory: Project</h2>
            <table class="pure-table pure-table-striped pure-table-horizontal">
                <thead>
                    <tr>
                        <th class="ta-center">Name</th>
                        <th class="ta-center">Type</th>
                        <th class="ta-center">Size KiB</th>
                        <th class="ta-center">Last Access</th>
                        <th class="ta-center">Last modification</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@include '__footer.html'