@include '__header.html'

<div class="layout">
    <div class="sidebar">
        <h3>Quick Access</h3>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Documents</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Pictures</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Downloads</a></li>
        </ul>
        <h3>Favorites</h3>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Project X</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Vacation Photos</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Work Files</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="top-bar">
            <form class="pure-form">
                <fieldset>
                    <input type="text" class="pure-input-rounded" placeholder="Search files...">
                </fieldset>
            </form>
            <div class="breadcrumbs">
                Home > Documents > Project
            </div>
        </div>
        <div class="file-list">
            <h2>Current Directory: Project</h2>
            <table class="pure-table pure-table-striped pure-table-horizontal">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Access Time</th>
                        <th>Creation Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#" onclick="updateView('Subfolder 1', 'directory')">Subfolder 1</a></td>
                        <td>Directory</td>
                        <td>-</td>
                        <td>2024-09-20 10:30</td>
                        <td>2024-09-15 09:00</td>
                    </tr>
                    <tr>
                        <td><a href="#" onclick="updateView('Subfolder 2', 'directory')">Subfolder 2</a></td>
                        <td>Directory</td>
                        <td>-</td>
                        <td>2024-09-20 11:45</td>
                        <td>2024-09-16 14:30</td>
                    </tr>
                    <tr>
                        <td><a href="#" onclick="updateView('Document1.docx', 'document')">Document1.docx</a></td>
                        <td>Document</td>
                        <td>25 KB</td>
                        <td>2024-09-20 09:15</td>
                        <td>2024-09-18 16:00</td>
                    </tr>
                    <tr>
                        <td><a href="#" onclick="updateView('Spreadsheet.xlsx', 'spreadsheet')">Spreadsheet.xlsx</a>
                        </td>
                        <td>Spreadsheet</td>
                        <td>50 KB</td>
                        <td>2024-09-19 14:20</td>
                        <td>2024-09-17 11:30</td>
                    </tr>
                    <tr>
                        <td><a href="#" onclick="updateView('Presentation.pptx', 'presentation')">Presentation.pptx</a>
                        </td>
                        <td>Presentation</td>
                        <td>2 MB</td>
                        <td>2024-09-18 16:45</td>
                        <td>2024-09-16 10:00</td>
                    </tr>
                    <tr>
                        <td><a href="#" onclick="updateView('Image.jpg', 'image')">Image.jpg</a></td>
                        <td>Image</td>
                        <td>1.5 MB</td>
                        <td>2024-09-20 08:30</td>
                        <td>2024-09-19 17:15</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@include '__footer.html'